* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
body {
  font-family: "Josefin Sans", sans-serif;
}
  
.navbar {
  font-size: 16px;
  background-image: linear-gradient(260deg, #ffffff 0%, #ebebeb 100%);
  border: 1px solid #ffffff;
  padding-bottom: 10px;
}
  
.main-nav {
  list-style-type: none;
  display: none;
}
  
.nav-links,
.logo {
  text-decoration: none;
  color: #000000;
}
  
.main-nav li {
  text-align: center;
  margin: 15px auto;
  font-size: 10px;
}
  
.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}
  
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  .navbar-toggle--stripe {
    width: 24px;
    height: 5px;
    background: black;
    display: block;
    margin-top: 3px;
  }
}
  
.active {
  display: block;
}
  
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
    font-size: 14px;
  }

  .nav-links {
    margin-left: 30px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: #EF4F10;
  }

  .toggleMenu {
    display: none;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .toggleMenu {
    display: block;
  }
}

.toggleMenu {
  display: block;
}

.active-site {
  border-bottom: 3px solid #EF4F10;
}