<template>
  <li v-if="isVisible">
    <router-link @click.native="handleDataFc"
      exact-active-class="active-site"
      :to="{name: route.name}"
      class="nav-links"
    >{{name}}</router-link>
  </li>
</template>

<script>
export default {
  name: 'menu-item',
  props: {
    route: {
      type: Object
    },
    parentData: {
      type: Boolean,
      default () {
        return false
      }
    }
  },
  data () {
    return {
      childData: false
    }
  },
  methods: {
    handleDataFc () {
      this.childData = false
      this.$emit('interface', this.childData) // handle data and give it back to parent by interface
    }
  },
  beforeMount () {
    this.childData = this.parentData // save props data to itself's data and deal with it
  },
  computed: {
    isVisible () {
      if (
        this.route.meta &&
        (this.route.meta.visible === undefined || this.route.meta.visible)
      ) {
        return true
      }
      return false
    },
    name () {
      return this.route.meta.title
    }
  }
}
</script>
