<template>
  <nav class="navbar">
    <div class="navbar-toggle" @click="isOpen = !isOpen">
      <span class="navbar-toggle--stripe"></span>
      <span class="navbar-toggle--stripe"></span>
      <span class="navbar-toggle--stripe"></span>
    </div>
    <router-link
      :to="{name: 'Home'}"
      class="logo">
        <logo></logo>
    </router-link>
    <ul class="main-nav" :class="{toggleMenu:isOpen == true}">
      <menu-item v-for="(r,i) in routes" :key="i"
        :route="r"
        :parentData="isOpen"
        @interface="handleFcAfterDateBack">
      </menu-item>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'Navbar',
  data () {
    return {
      isOpen: false
    }
  },
  components: {
    MenuItem: () => import('./MenuItem'),
    Logo: () => import('./Logo')
  },
  methods: {
    handleFcAfterDateBack (event) {
      this.isOpen = event
    }
  },
  computed: {
    routes () {
      let order = this.$router.options.routes
      return order.sort(function (a, b) {
        if (a.order < b.order) return -1
        if (a.order > b.order) return 1
        return 0
      })
    }
  },
  watch: {
    isOpen () {
      let windowWidth = window.innerWidth

      if (windowWidth < 768) {
        return false
      }
    }
  }
}
</script>
