<template>
  <div>
    <h1>{{ title }}</h1>
  </div>
</template>

<script>
export default {
  name: 'Justice',
  props: {
    route: {
      type: Object
    }
  },
  data () {
    return {}
  },
  computed: {
    title () {
      return this.$router.app._route.meta.title
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
