<template>
  <div id="app">
    <navbar></navbar>
    <router-view :route="r"/>
  </div>
</template>

<script>
import Navbar from '@/components/menu/Navbar'

export default {
  name: 'App',
  data () {
    return {
      r: this.$router
    }
  },
  components: {
    Navbar
  }
}
</script>

<style lang="sass">
@import '@/assets/scss/_app.scss';
</style>
